[Unit]
Description=Check the battery for a kitty session snapshot every 3 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=3min

[Install]
WantedBy=timers.target
